.add--icon {
  background-color: blue;
  margin: auto;
  width: 20em;
}

.input {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
